/* You can type here any CSS code that will be loaded both on your admin and front-end pages.
Let us help you by giving a few exmaple CSS classes: */

/* Front-end sliders & preview */

.ls-container { /* The slider itself */
	height: 100%;
	position: relative;
}

.ls-slide { 
	height: 100%;
	position: relative;
}

.ls-slide a:hover {
	color: blue;
	text-decoration: underline;
}

.ls-slide #yourID {

}

.ls-slide .yourClass {

}

.ls-inner {
	position: relative;
	background-position: center center;
	z-index: 2;
}

/* Side color of 3D objects */
.ls-3d-box div { background: #777; }
