body{
	font-family: Open Sans, sans-serif;
	line-height: 25px;
	letter-spacing: 0px;
	font-style: normal;
	text-transform: none;
	color: #64686b
}

h4{
	color: #283033;
	font-family: Lato, sans-serif;
	font-size: 20px;
	line-height: 27px;
	letter-spacing: 0px;
	font-weight: 700;
	font-style: normal;
	text-transform: uppercase
}

h5{
	font-family: Lato, sans-serif;
	font-size: 13px;
	line-height: 20px;
	letter-spacing: 0px;
	font-weight: 700;
	font-style: normal;
	text-transform: uppercase;
	color: #283033;
	margin: 0px;
	padding: 0px;
}

a{
	text-decoration: none;
	color: #283033;
}

a:hover{
	text-decoration: none;
	color: #18cfab;
}

div.button_view{
	font-size: 12px;
	font-family: sans-serif;
	color: #fff;
	border: 1px solid #fff;
	background-color:#18cfab;	
	padding: 10px 20px 10px 20px;
}

div.button_view:hover{
	font-size: 12px;
	font-family: sans-serif;
	color: #18cfab;
	border: 1px solid #fff;
	background-color:#fff;	
	padding: 10px 20px 10px 20px;
}

.clear{
	float: none;
	clear: left right;
}

/* pagination */
.page-numbers{
	padding: 10px 20px;
	border: 1px solid #ccc;
	background-color: #fff;
	font-family: sans-serif;
	color: #283033;
	text-transform: uppercase;
	font-weight: 900;
	font-style: normal;
	margin: 0px 10px 0px 0px;
}

.page-numbers.current{
	color: #18cfab;
}

.navigation.pagination{
	margin: 0px 0px 40px 0px;
}

/* site main */
.site-main{
	/*background-color: #f00;*/
}

.main-container{
	padding: 10px;
	background-color: #fff;
	/*background-color: #00f;*/
}

.left_posts{
	display: inline-block;
}

/* sidebar */
.sidebar{
	display: inline-block;
	vertical-align: top;
	margin: 0px;
	padding: 0px;
}

.widget{
	list-style: none;
}

.widget-side{
	width: 300px;
	margin: 0px;
	padding: 0px;
	margin: -10px 0px 40px 0px;
}

.widget-side h2{
	font-family: Lato, sans-serif;
	font-size: 14px;
	line-height: 20px;
	letter-spacing: 0.5px;
	font-weight: 700;
	font-style: normal;
	text-transform: uppercase;
	color: #1abc9c;
	padding-top: 15px;
	padding-right: 20px;
	padding-bottom: 15px;
	padding-left: 20px;
	background-color: #f3f3f4;
}

.widget-side .post{
	float: none;
	clear: left;
	margin: 20px 0px 20px 0px;
}
.widget-side .post_image{
	display: table-cell;
	vertical-align: middle;
	width: 75px;
}

.widget-side .post_content{
	display: table-cell;
	vertical-align: middle;
	padding-left: 15px;
}

.widget-side .post_content .title{
	padding-bottom: 2px;
}

.widget-side .post_content .date{
	padding-top: 2px;
	font-family: Open Sans, sans-serif;
	font-size: 13px;
	letter-spacing: 0px;
	font-style: normal;
	text-transform: none;
	color: #6a6a6a
}

.widget-side .wp-tag-cloud, .widget-side .wp-cat-cloud{
	list-style: none;
	width: 100%;
	margin: 0px;
	padding: 0px;
}

.widget-side .wp-tag-cloud li, .widget-side .wp-cat-cloud a{
	color: #283033;
	border: 1px solid #e2e2e4;
	padding: 0 18px;
	line-height: 38px;
	height: 38px;
	display: inline-block;
	vertical-align: middle;
	font-size: 12px !important;
	font-weight: 700;
	font-family: 'Lato', sans-serif;
	text-transform: uppercase;
	letter-spacing: 1px;
	margin: 0 3px 5px 0;
}

/* advertise */
.ad_sidebar{
	width: 300px;
	height: 300px;
	display: block;
	vertical-align: middle;
	border: 1px solid #e2e2e4;
	text-align: center;
	margin-bottom: 60px;
}

/* navigation */
.nav-top{
	height: 35px;
	background-color: #283033;
	font-size: 15px;
	clear: left;
	float: none;
	margin: 0px;
	padding: 6px 0px 0px 0px;
}

.nav-content, .main-container{
	width: 1000px;
	left: auto;
	right: auto;
	margin: auto;
}

.nav-top ul{
	list-style: none;
	margin: 0px;
	padding: 0px;
}

.nav-top ul li{
	float: left;
	width: 40px;
	text-align: center;
}

.nav-social{
	width: 122px;
	float: right;
}

.nav-social a{
	text-decoration: none;
	color: #fff;
}

.nav-social a:hover{
	text-decoration: none;
	color: #18cfab;
}

.nav-social .division{
	height: 20px;
	width: 1px;
	border-left-style: solid;
	border-left-color: #53595c;
	border-left-width: 1px;
}

.nav-main{
	height: 80px;
	clear: left;
	float: none;
	margin: 0px;
	padding:0px;
}
.logo{
	float: left;
}

.logo img{
	width: 150px;
	display: block;
}

.nav-content .search, .nav-content .menu{
	float: right;
}

.nav-content .menu, .nav-content .logo{
	margin: 20px 0px 0px 0px;
}

/* menu top */
.menu .main-menu{
	list-style: none;
	color: #283033;
	font-family: 'Lato', sans-serif;
	font-size: 13px;
	font-style: normal;
	font-weight: 900;
	text-transform: uppercase;
	letter-spacing: 1px;
}
.menu .main-menu li{
	width: 80px;
	float: left;	
	font-size: 13px;
	text-align: center;
}

.menu .main-menu a{
	text-decoration: none;
	color: #283033;
}
.menu .main-menu a:hover{
	text-decoration: none;
	color: #18cfab;
}

/* menu footer */
.menu-footer{
	width: 100%;
	height: 50px;
}

.menu-footer .footer-menu{
	list-style: none;
	font-family: 'Lato', sans-serif;
	font-size: 13px;
	font-style: normal;
	font-weight: 900;
	text-transform: uppercase;
	letter-spacing: 1px;
	padding: 0px;
	text-align: center
	left: auto;
	right: auto;
	margin: auto;
	top: 15px;
	width: 160px;
	display: block;
	position: relative;
}
.menu-footer .footer-menu li{
	width: 80px;
	float: left;
	font-size: 13px;
	text-align: center;
	margin: 0px;
	padding: 0px;
}

.menu-footer .footer-menu a{
	text-decoration: none;
	color: #fff;
}
.menu-footer .footer-menu a:hover{
	text-decoration: none;
	color: #18cfab;
}

/* search */
.nav-content .search{
	list-style: none;
	margin: 25px 0px 0px 20px;
}
.nav-content .search .search-field{
	border: none;
	border-bottom-width: 1px;
	border-bottom-style: solid;
	border-bottom-color: #283033;
	font-family: 'Lato', sans-serif;
	font-size: 13px;
	font-style: normal;
	font-weight: 900;
	letter-spacing: 1px;
}

.nav-content .search .search-submit{
	background: none;
	border: none;
}

/* footer */
footer{
	height: 450px;
	background-color: #1d2022;
}

footer .space{
	height: 50px;
}

footer .content{
	height: 350px;
	background-image: url("/wp-content/themes/innovation/images/footer-image.png");
	background-repeat: top horizontal;
}

footer .content .inner{
	width: 1000px;
	left: auto;
	right: auto;
	margin: auto;
}

footer .content .widget{
	display: inline-block;
	vertical-align: top;
	width: 300px;
	height: 200px;
	margin: 30px 30px 0px 0px;
}

footer .content .textwidget{
	font-family: Lato, sans-serif;
	font-size: 12px;
	line-height: 28px;
	letter-spacing: 1px;
	font-style: normal;
	color: #ffffff;
}

footer .content .widget h2{
	font-family: Lato, sans-serif;
	font-size: 14px;
	line-height: 28px;
	letter-spacing: 1px;
	font-style: normal;
	text-transform: uppercase;
	color: #ffffff;
	margin: 0px 0px 40px 0px;
	padding: 0px 0px 10px 0px;
	border-bottom: 1px solid #18cfab;
}