.masonry {
	width: 650px;
    /*margin: 10px;
    padding: 0;
    -moz-column-gap: 10px;
    -webkit-column-gap: 10px;
    column-gap: 10px;*/
}

.item {
	width: 302px;
    /*display: inline-block;
    vertical-align: top;*/
    background: #fff;
    margin-bottom: 20px;
}

article{
	border-style: solid;
	border-width: 1px;
	border-color: #ccc;
}

article .content{
	padding: 20px;
}

article .text, article .date{
	font-family: Open Sans, sans-serif;
	line-height: 25px;
	letter-spacing: 0px;
	font-style: normal;
	text-transform: none;
	color: #64686b
}

/*@media only screen and (min-width: 400px) {
    .masonry {
        -moz-column-count: 2;
        -webkit-column-count: 2;
        column-count: 2;
    }
}*/

/*@media only screen and (min-width: 700px) {
    .masonry {
        -moz-column-count: 1;
        -webkit-column-count: 1;
        column-count: 1;
    }
}*/

/*@media only screen and (min-width: 900px) {
    .masonry {
        -moz-column-count: 4;
        -webkit-column-count: 4;
        column-count: 4;
    }
}
*/
/*@media only screen and (min-width: 1100px) {
    .masonry {
        -moz-column-count: 2;
        -webkit-column-count: 2;
        column-count: 2;
    }
}*/