.slider{
	width: 100%;
	height: 580px;
	margin: 0px 0px 50px 0px;
	overflow: hidden;
	position: relative;
}

.ad_index{
	width: 780px;
	height: 60px;
	display: block;
	vertical-align: middle;
	border: 1px solid #e2e2e4;
	text-align: center;
	left: auto;
	right: auto;
	margin: auto;
	margin-bottom: 30px;
}