.post_image_internal{
	width: 100%;
	height: 400px;
	margin: 0px 0px 30px 0px;
	padding: 0px;
	border: 0px;
	position: relative;
	overflow: hidden;
}

.post_image_internal img{
	width: 100%;
	height: auto;
	margin: auto;
	position: absolute;
}

.parallax-container {
    height: 400px;
    width: 100%;
}

.parallax-window {
    min-height: 400px;
    background: transparent;
}

.post_internal{
	width: 100%;
	height: 150px;
	margin: 0px 0px 30px 0px;
	padding: 0px;
	border: 0px;
	position: relative;
	overflow: hidden;
}

.post-container{
	width: 620px;
	margin: 10px 30px 10px 10px;
	display: inline-block;
	text-align: justify;
}

.post_image_internal .title, .post_internal .title{
	width: 900px;
	display: block;
	position: relative;
	text-align: center;
	margin: auto;
	left: auto;
	right: auto;
	text-align: center;
	top: 50%;
	margin-top: -45px;
	display: block;
}

.post_image_internal h2, .post_internal h2{
	font-family: Lato, sans-serif;
	font-size: 30px;
	line-height: 30px;
	letter-spacing: 0.5px;
	font-weight: 700;
	font-style: normal;
	text-transform: uppercase;
	color: #fff;
}

.post_internal h2{
	color: #283033;
}

.line{
	width: 100px;
	border-bottom: 2px solid #18cfab;
	margin: auto;
	left: auto;
	right: auto;
}

.ad_post{
	margin: 40px 0px 40px 0px;
}

.post-container .content .text{
	width: 620px;
	margin-bottom: 30px;
}

.post-container .content .text img, .post-container .content .text .wp-caption{
	width: 100% !important;
	height: auto !important;
}

.post-container .content .text .wp-caption-text{
	font-style: italic;
	font-size: 12px;
}

.post-container .content .date .date_day{
	font-family: Lato, sans-serif;
	font-size: 20px;
	letter-spacing: 0.5px;
	font-weight: 700;
	font-style: normal;
	color: #18cfab;
	margin: 0px 5px 0px 0px;
}

.post-container .content .date .date_month, .post-container .content .date .date_year{
	font-family: Lato, sans-serif;
	font-size: 14px;
	line-height: 30px;
	letter-spacing: 0.5px;
	font-weight: 700;
	font-style: normal;
	color: #283033;
	margin: 0px 5px 0px 0px;
}

.post-container .content .date .date_year{
	padding-right: 5px;
	border-right: 1px solid #ccc;
}

.main-container .share, .main-container .comments{
	margin: 20px 0px 20px 0px;
}

.post-container .share{
	clear: left;
	clear: right;
	float: none;
	margin: 20px 0px 0px 0px;
}

.nav-posts{
	width: 100%;
	margin: 30px 0px 60px 0px;
	font-family: Lato, sans-serif;
	font-size: 14px;
	line-height: 30px;
	letter-spacing: 0.5px;
	font-weight: 600;
	font-style: normal;
	padding: 0px;
	border: 0px;
}

.nav-posts .left-post{
	float: left;
}

.nav-posts .right-post{
	float: right;
}
